<div class="col-xs-12 col-md-8">
  <div class="idea-container">
    <div class="idea-header">
      <%= image_tag @idea.user.avatar, class: 'avatar' %>
      <div>
        <p class="name"><%= @idea.user.name %></p>
        <p class="date"><%= l(@idea.created_at, format: :short) %></p>
      </div>
    </div>
    <h1><%= @idea.title %></h1>
    <%= render partial: 'field_value', collection: @idea.field_values %>

    <ul id="labels">
      <%= render partial: 'label', collection: @idea.labels %>
    </ul>
  </div>

  <h2><%= t('.comments') %></h2>
  <%= render partial: 'comment_form' %>
  <ul id="comments">
    <%= render partial: 'comment', collection: @idea.comments %>
  </ul>
</div>

<div id="activity" class="col-xs-12 col-md-4">
  <h2><span class="label label-default"><%= t('.activity') %></span></h2>
  <ul id="activities">
    <% @idea.activities.each do |activity| %>
      <li>
        <%= render partial: "activities/#{activity.action}_#{activity.target}", locals: { activity: activity } %>
        <p class="date"><%= l(activity.created_at, format: :short) %></p>
      </li>
    <% end %>
  </ul>
</div>
