<li class="col-xs-12 col-sm-4">
  <div class="idea-container">
    <div class="idea-header">
      <%= image_tag current_user.avatar, alt: current_user.name, class: 'avatar' %>
      <div>
        <p class="name"><%= idea.user.name %></p>
        <p class="date"><%= idea.created_at.to_formatted_s(:short) %></p>
        <% if current_user.owns(idea) %>
          <%= link_to edit_idea_path(idea.inbox, idea), class: 'btn btn-default pull-right' do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <h2><%= link_to idea.title, idea_path(@inbox, idea) %></h2>
    <p><%= idea.description %></p>
  </div>
</li>
