<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for :filter, html: { class: 'form-inline pull-left filter-form' } do |f| %>
      <%= f.input :filter, required: false, collection: [:all_ideas], include_blank: false %>
    <% end %>

    <%= simple_form_for :sort, html: { class: 'form-inline pull-left' } do |f| %>
      <%= f.input :sort, required: false, collection: [:date], include_blank: false %>
    <% end %>

    <%= simple_form_for :search, html: { class: 'form-inline pull-right' } do |f| %>
      <%= f.input :search, required: false %>
    <% end %>
  </div>
</div>

<hr />

<ul id="ideas" class="row">
  <%= render partial: 'idea', collection: @inbox.ideas %>
</ul>
